{{#if isShowingConfirmation}}
  <button {{action 'confirm'}} class="delete-btn-confirm">Are you sure?</button>
{{else}}
  <button {{action 'showConfirmation'}} class="delete-btn"><i class="fa fa-times"></i></button>
{{/if}}
