{{#each model as |performer|}}
<div class="performer-thumbnail">
    <li>
        {{#link-to 'performers.show' performer}}
        <img src="{{model.profilesmall.url}}" alt="Profile Picture">
          Username: {{performer.username}}
        {{/link-to}}
    </li>

  <li>Rating: {{performer.stars}}</li>
  <li>Act: {{performer.act}}</li>
</div>

{{/each}}
