<div class="performer-info">
  <ul>
    <li>Username</li>
    <li>{{firstName}} {{lastName}}</li>
    <li>{{act}}</li>
    <li>Location</li>
  </ul>
</div>

<div class="tip-options">
  <a href="#"><img src="" alt="Tip $1"></a>
  <a href="#"><img src="" alt="Tip $2"></a>
  <a href="#"><img src="" alt="Tip $3"></a>
</div>

<div class="reviews-container"></div>

<div class="performer-pic">
  <img src="" alt="Performer Picture">
  <img src="" alt="Performer QR Code">
</div>



{{yield}}
