{{#each model as |performer|}}
<div>
    <li>
      <img src="" alt="Profile Picture">

        {{#link-to 'performers.show' performer}}
          Username: {{performer.username}}
        {{/link-to}}

    </li>

  <li>Rating: {{performer.stars}}</li>
  <li>Act: {{performer.act}}</li>
</div>

{{/each}}
