<div class="container">
  <div class="review">
    <li class="row">
      <center>
        <div class="col-md-12">
          <h4 class="review-title">
            {{model.title}}
            <button class="edit-btn pull-right"><i class="fa fa-pencil-square-o"></i></button>
          </h4>
        </div>
      </center>

    </li>
    <center>
      <li class="reviewed-by">Reviewed by: salgib</li>

      <li>{{model.stars}} Stars!</li>
      <li>{{model.body}}</li>
    </center>

  </div>
</div>
{{yield}}
