<div class="review">
  <center>
  <div class="row">
    <h1 class="col-md-11">{{model.title}}</h1>
    <div class="col-md-1">
      {{#link-to 'reviews.update' model}}
        <button class="edit-btn"><i class="fa fa-pencil-square-o"></i></button>
      {{/link-to}}
    </div>
  </div>
  <h4>Reviewed by: salgib</h4>

  <li>{{model.stars}} Stars!</li>
  <li>{{model.body}}</li>
</center>

</div>

{{yield}}
