<div class="user-container">

  {{google-map}}


  <h1 class="welcome-message">Hello, {{session.currentUser.username}}</h1><input type="text" class="search" placeholder="Search for a Performer...">

  <div class="favorite-performers">
    <ul>
      <li>My Favorite Performers:</li>
      <li>{{performers-index model=model}}</li>
    </ul>
  </div>

  <div class="patron-info">
    <ul>
      <li><a href="#">Interests</a></li>
      <li><a href="#">Who I've Tipped</a></li>
      <li><a href="#">Edit Profile</a></li>
    </ul>
  </div>


  <div>{{#if session.isAuthenticated}}
    {{#link-to 'index'}}<button  class="logout-button" {{ action 'invalidateSession' }}>Logout</button>{{/link-to}}
  {{/if}}
  </div>

</div>
