<div class="user-container">

  {{google-map}}


  <h1 class="welcome-message">Hello, {{model.username}}</h1><input type="text" class="search" placeholder="Search for a Performer...">

  <div class="patron-info">

    <ul>
      <li><a href="#">Interests</a></li>
      <li><a href="#">Who I've Tipped</a></li>
      <li><a href="#">Edit Profile</a></li>
    </ul>
  </div>

  <div class="favorite-performers">
    {{performer-list}}
  </div>


  <div>{{#if session.isAuthenticated}}
    <button  class="logout-button" {{ action 'invalidateSession' }}>Logout</button>
  {{/if}}
  </div>

</div>
