@import 'ember-paper';
@import 'palette';
@import 'stars';
@import 'bootstrap';
@import 'custom-navbar';
@import 'login-form';
 html,
 body {
   background-color: $darkblue;
   color: $lightblue;
 }

 * li {
   list-style: none;
 }

 .main-page-bg {
   background-image: url('.././images/main-st-bg.jpg');
   height: 580px;
   width: 100%;
 }

 .main-bg {
   height: 580px;
   width: 1340px;
 }

.map-canvas {
  height: 300px;
  width: 100%;
  margin-right: 20px;
  float: right;
  border-radius: 5px;
}

.login-container {
  height: auto;
  margin: 0 auto;
  width: 1000px;
  color: $lightblue;
 }

 .create {
   height: 500px;
   display: block;
 }

 .login-container li {
   list-style: none;
 }

.login-field {
  color: $lightblue;
}

.favorite-performers li {
  list-style: none;
}

.patron-info li {
  list-style: none;
  // margin-left: 30px;
  display: inline-block;
  color: white;
}

.user-container {
  height: auto;
  margin: 10 30 0;
  padding: 10 30;
  width: 100%;
}

.welcome-message {
  color: $lightblue;
  padding-left: 30px;
}



.logout-button {
  color: $lightblue;
  background-color: $blue;
  margin: 0 auto;
}

.logout-button:hover {
  color: black;
  background-color: $lightblue;
}

paper-text {
  color: white;
}

.performer-index {
  padding: 40px;
}

.performer-list {
  padding: 0;
}

.performer-thumbnail {
  border: 1px solid $lightblue;
  border-radius: 5px;
  height: auto;
  width: auto;
}

.review {
  border: 1px solid $lightblue;
  border-radius: 5px;
  height: auto;
  width: auto;
}

.qrcode{
  border: 2px solid $darkblue;
  border-radius: 3px;
}
