@import 'ember-paper';
@import 'palette';
@import 'stars';
@import 'bootstrap';
@import 'custom-navbar';
@import 'login-form';
@import 'buttons';
@import 'performer-styles';
@import 'reviews-styles';
@import './bower_components/fontawesome/scss/font-awesome';
html,
body {
  background-color: $medgrey;
  color: $offwhite;
}

* li {
  list-style: none;
  color: $offwhite;
}

a {
  color: $offwhite;
}
a:hover {
  color: $lightgrey;
}

.pull-right {
  margin-right: 10px;
}

.main-page-bg {
  background-image: url(".././images/main-st-bg.jpg");
  height: 580px;
  width: 100%;
}

.main-bg {
  height: 580px;
  width: 1340px;
}

.map-canvas {
  height: 300px;
  width: 100%;
  margin-right: 20px;
  float: right;
  border-radius: 5px;
}

.login-container {
  height: auto;
  margin: 0 auto;
  width: 1000px;
  color: $offwhite;
}

.create {
  height: 500px;
  display: block;
}

.accnt-sign-up {
  margin-top: 5px;
}

.login-container li {
  list-style: none;
}

.login-field {
  color: $lightgreen;
}

.user-info li {
  list-style: none;
  padding: 0 20px;
  display: inline;
  color: $offwhite;
}

.welcome-message {
  color: $lightgreen;
  font-size: 3em;
}
