@import 'palette';

.login-btn {
  display: block;
}

.logoutbtn {
  color: $offwhite;
  background-color: $medgrey;
  margin: 100px 0 0;

}

.logoutbtn:hover,
.reviews-btn:hover,
.delete-btn:hover,
.delete-btn-confirm,
.create-review-btn:hover,
.edit-btn:hover,
.submit-review-btn:hover {
  color: black;
  background-color: $lightgreen;
  border-radius: 5px;
}

.submit-review-btn {
  border: 1px solid $lightgreen;
  margin-bottom: 15px;
}

.tip-btn{
  color: $offwhite;
  background-color: $medgrey;
  border: 1px solid $lightgreen;
  border-radius: 50%;
  font-size: 2em;
  padding: 2px;
  margin: 1px;
  height: 100px;
  width: 100px;
}

.tip-btn:hover {
  color: black;
  background-color: $lightgreen;
}



.tip-form {
  border: none;
}

.reviews-btn {
  margin-bottom: 30px;
}

.reviews-btn,
.delete-btn,
.create-review-btn,
.edit-btn,
.submit-review-btn {
  color: $offwhite;
  background-color: $medgrey;
  border-radius: 5px;
}

.create-review-button {
  font-size: 2em;
  margin: 10px 0;
}

.delete-btn-main,
.edit-btn {
  margin: 20px 0 0;
}
