.review,
.reviews-thumbnail {
  border: 1px solid $offwhite;
  border-radius: 5px;
  background: $darkgrey;
  margin: 10px 0;
  padding: 5px 0 15px;
}

.review-submit,
.review-edit {
  color: $darkgrey;
}

.review-title {
  margin: 15px 0 0 35px;
}
.review-body {
  border-radius: 5px;
  height: 100px;
  width: auto;
  padding-top: 20px;
}

.reviewed-by {
  margin: 10px 0;
}

.review-submit form,
.review-edit form {
  margin: 0;
  background: $darkgrey;
}

.rating {
  margin-left: 45px;
}
