<div class="navbar navbar-inverse navbar-static-top navbar-custom" style="margin-bottom: 0px;">
  <div class="container">
      {{#link-to 'users.current'}}<div class="navbar-brand"><img src='images/tiprlogo.svg'></div>{{/link-to}}
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">{{#link-to 'users.current'}}Home{{/link-to}}</li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
              <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
              <li><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li>
            </ul>
          </li>
          <li><a href="#about" data-toggle="modal">About Tipr</a></li>

        </ul>
      </div>
    </div>
  </div>



  <div class="modal fade" id="about" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>We Love Talent!</h4>
        </div>
        <div class="modal-body">
          <p>You can't drive down a busy road without seeing at least one person steadily singing to their steering wheel, much like you can't surf YouTube without seeing several hilarious videos of people dancing to every type of music. However, some of these talented individuals don't stop there. These brave souls often take to the streets to entertain others with their gifts of song, dance or instrumental prowess! Although these performance artists are rarely showcasing their skills to "get rich", we at Tipr believe talent should be rewarded!</p>

          <p>No longer will you have to feel guilty after watching an artist's performance and be unable to show your gratitude by leaving them a tip because you "don't have any cash." Talent deserves reward!</p>

        </div>
        <div class="modal-footer">
          <a href="" class="btn btn-default" data-dismiss="modal">Cancel</a>
        </div>
      </div>
    </div>
  </div>


{{outlet}}
