<div class="container main-page-bg col-md-12">
  <div class="row">
    <div class="col-lg-6">

    </div>
    <div class="col-lg-6 pull-right">
        {{login-form}}
        <hr>
    </div>
  </div>
</div>



  <!-- <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text pull-left"> </p>
    </div>
  </div> -->


{{outlet}}
