<div class="login-container">
  <img src="./images/tiprlogo.png" alt="Tipr Logo" class="tiprlogo">
  <section class="create-account">
    <ul>
      <li>Don't have an account?</li>
      <li>{{#link-to 'users.create'}}<button>Sign Up for an Account!</button>{{/link-to}}</li>



    </ul>
  </section>

  <section class="user-login">
    <ul>
      <li>{{login-form}}</li>
    </ul>
  </section>
</div>
{{outlet}}
